@model IEnumerable<Venta_y_Gestion.Models.productos>

@{
    ViewBag.Title = "Index";
}

<h1>Catálogo de productos</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoProducto.tipoProductoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productoPrecio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productoStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productoImagen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.productoNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipoProducto.tipoProductoNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productoPrecio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productoStock)
    </td>
    <td>
        <img width="60" height="60" src="@Url.Action("ConvertirImagen", "gestion", new { productoId = item.productoId })" />
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.productoId })
    </td>
</tr>
}

</table>
